.mana-progress-bar {
    height: 1px;
    background-color: rgb(34, 34, 34);
    border-radius: 5px;
    border-width: 1px;
    margin: 5px;
    top: 90%;
}

.mana-progress-bar .unity-progress-bar__progress {
    background-color: rgb(90, 221, 255);
    border-radius: 5px;
    margin: 0px;
}
.mana-progress-bar .unity-progress-bar__background{
    background-size: 1px;
    overflow: hidden;
    background-color: darkblue;
    border-radius: 5px;
}
